#cards {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #e6f0ff;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #083d5d;
    border: 2px solid #083d5d;
    transition: all 0.3s ease;
    margin-top: 10px;
    text-decoration: none;
  }
  
  #cards:hover {
    background-color: #ffd700;
    color: #000;
    font-weight: 700;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  